<!-- Giang Nguyen
    Date: 05/06/2023
    File name: experience.html
    Experience page for job application
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Experience</title>
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/mailling lists.css">
    <link rel="stylesheet" href="./styles/experience.css">
    <include href="views/includes/header.html"></include>

</head>

<body>
    <check if="{{ @SESSION.Errors }}">
        <div class="error-box">
            <pre>{{ @SESSION.Errors }}</pre>
        </div>
    </check>
    <h1>Experience</h1>
    <form id="userinput" class="form" action="experience" method="POST">
        <ul>
            <li style="list-style-type: none;">Biography: <br> <textarea style="overflow:auto;resize:none" rows="13"
                    cols="50" name="bio">{{ @SESSION.bio }}"</textarea>
            </li>
            <li style="list-style-type: none;">
                <p>Year of experience</p>
                <check if="{{ @SESSION.experience == '0-2' }}">
                    <true>
                        <input type="radio" name="experience" value="0-2" required checked> 0-2<br>
                    </true>
                    <false>
                        <input type="radio" name="experience" value="0-2" required> 0-2<br>
                    </false>
                </check>
                <check if="{{ @SESSION.experience == '2-4' }}">
                    <true>
                        <input type="radio" name="experience" value="2-4" required checked> 2-4<br>
                    </true>
                    <false>
                        <input type="radio" name="experience" value="2-4" required> 2-4<br>
                    </false>
                </check>
                <check if="{{ @SESSION.experience == '4+' }}">
                    <true>
                        <input type="radio" name="experience" value="4+" required checked> 4+<br>
                    </true>
                    <false>
                        <input type="radio" name="experience" value="4+" required> 4+<br>
                    </false>
                </check>
            </li>
            <li style="list-style-type: none;">
                <p>Willing to relocate</p>
                <check if="{{ @SESSION.relocate == 'yes' }}">
                    <true>
                        <input type="radio" name="relocate" value="yes" checked> Yes<br>
                    </true>
                    <false>
                        <input type="radio" name="relocate" value="yes"> Yes<br>
                    </false>
                </check>
                <check if="{{ @SESSION.relocate == 'no' }}">
                    <true>
                        <input type="radio" name="relocate" value="no" checked> No<br>
                    </true>
                    <false>
                        <input type="radio" name="relocate" value="no"> No<br>
                    </false>
                </check>
                <check if="{{ @SESSION.relocate == 'maybe' }}">
                    <true>
                        <input type="radio" name="relocate" value="maybe" checked> Maybe<br>
                    </true>
                    <false>
                        <input type="radio" name="relocate" value="maybe"> Maybe<br>
                    </false>
                </check>
            </li>
            <li style="list-style-type: none;">Github link: <input type="text" name="github"
                    value="{{ @SESSION.github }}">
            </li>
        </ul>
        <button class="button" role="button">NEXT</button>
    </form>

</body>

</html>