<!-- Giang Nguyen
    Date: 05/06/2023
    File name: job-mailling.html
    Job openings and mailing lists page for job application
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Openings Mailling Lists</title>
    <link rel="stylesheet" href="../styles/mailling lists.css">
    <include href="views/includes/header.html"></include>
</head>
<body>
<h1>Job Openings Mailling Lists</h1>
<ul>
    <li>
        <p>Sofware Development Jobs</p>
    </li>
    <li>
        <input type="checkbox" name="check-box" /> <span>JavaScript</span>

    </li>
    <li>
        <input type="checkbox" name="check-box" /> <span>HTML</span>

    </li>
    <li>
        <input type="checkbox" name="check-box" /> <span>PHP</span>

    </li>
    <li>
        <input type="checkbox" name="check-box" /> <span>CSS</span>

    </li>
    <li>
        <input type="checkbox" name="check-box" /> <span>Java</span>

    </li>
    <li>
        <input type="checkbox" name="check-box" /> <span>ReactJS</span>

    </li>
    <li>
        <input type="checkbox" name="check-box" /> <span>Python</span>

    </li>
    <li>
        <input type="checkbox" name="check-box" /> <span>NodeJs</span>

    </li>
</ul>
<ul>
    <li>
        <p>Industry Verticals</p>
    </li>
    <li>
        <input type="checkbox" name="check-box" /> <span>SaaS</span>

    </li>
    <li>
        <input type="checkbox" name="check-box" /> <span>Industrial tech</span>

    </li>
    <li>
        <input type="checkbox" name="check-box" /> <span>Health Tech</span>

    </li>
    <li>
        <input type="checkbox" name="check-box" /> <span>Cybersecurity</span>

    </li>
    <li>
        <input type="checkbox" name="check-box" /> <span>Ag tech</span>

    </li>
    <li>
        <input type="checkbox" name="check-box" /> <span>HR tech</span>

    </li>
</ul>
</div>
<button class="button" role="button" onclick="window.location.href = 'summary.html';">NEXT</button>
</body>
</html>