<!-- Giang Nguyen
    Date: 05/06/2023
    File name: personal-info.html
    Personal information page for job application
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Online Application</title>
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/personal-info.css">
    <include href="views/includes/header.html"></include>
</head>

<body>
<check if="{{ @Errors }}">
    <div class="error-box">
        <pre>{{ @Errors }}</pre>
    </div>
</check>
<div id="svg_wrap"></div>
<h1>Personal Information </h1>
<form action="personal-info" method="POST" enctype="multipart/form-data">
    <section>
        <input type="text" placeholder="Firstname" name="fname" value="{{ @applicant->getFname() }}" required />
        <input type="text" placeholder="Lastname" name="lname" value="{{ @applicant->getLname() }}" required />
        <input type="text" placeholder="State" name="state" value="{{ @applicant->getState() }}" />
    </section>
    <section>
        <h1>Contact information </h1>
        <input type="text" placeholder="Email address" name="email" value="{{ @applicant->getEmail() }}" required />
        <input type="text" placeholder="Phone: 0123456789" name="phone" value="{{ @applicant->getPhone() }}"
               required />
        <input type="file" name="avatar" accept="image/png, image/jpeg, image/jpg">
        <div class="row">
            <input type="checkbox" name="sign-up-mailing-lists" id="sign-up-mailing-lists" {{ @sign_up_mailing_lists ? 'checked="checked"' : ' ' }}>
            <label for="sign-up-mailing-lists">Sign me up for job openings mailing list!</label>
        </div>
    </section>
    <button class="button">NEXT</button>
</form>
</body>

</html>