<!-- Giang Nguyen
    Date: 05/06/2023
    File name: summary.html
    Summary page for job application
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
    <include href="views/includes/header.html"></include>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
<h1>Summary</h1>
<table>
    <tbody>
    <tr>
        <td>Name</td>
        <td>{{ @SESSION.fname }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ @SESSION.email }}</td>
    </tr>
    <tr>
        <td>State</td>
        <td>{{ @SESSION.state }}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{ @SESSION.phone }}</td>
    </tr>
    <tr>
        <td>Github link</td>
        <td>{{ @SESSION.github }}</td>
    </tr>
    <tr>
        <td>Experience</td>
        <td>{{ @SESSION.experience }}</td>
    </tr>
    <tr>
        <td>Willing To Relocate</td>
        <td>{{ @SESSION.relocate }}</td>
    </tr>
    <tr>
        <td>Mailing Lists</td>
        <td>{{ @SESSION.check_box }}</td>
    </tr>
    <tr>
        <td>Biography</td>
        <td>{{ @SESSION.bio }}</td>
    </tbody>

</table>
</body>
</html>